<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find more info about Mars</a></p>
    </div>

    
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">{{mars.news_title}}</h2>
        <p class="body">{{mars.news_p}}</p>
        <img src="{{mars.featured_image_url | default('static/images/error.png', true) }}"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ mars.fact_table | safe }}
      </div>
    </div>

  </div>
</body>

</html>

